<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Log In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input #username type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password type="password"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block
      (click)="login(
                  username.value,
                  password.value
                )">
    Log In
  </button>

  <button ion-button block (click)="goToSignup()">
    Sign Up
  </button>
</ion-content>
