<ion-header>
  <ion-toolbar>

    <ion-title>Chat</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="logout()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="chat">
    <chat-message
      [messages]="messages"
      [user]="user"></chat-message>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>
      <ion-input
        #messageText
        [(ngModel)]="textMessage"
        type="text"
        placeholder="Type your message"></ion-input>
    </p>

    <ion-buttons end>
      <button ion-button icon-end color="royal"
        (click)="sendMessage()">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
