chat-message {
  .chat-message{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 0 20px;

    .chat-image{
      .img{
        width: 50px;
        height: 50px;
        background-color: blue;
        border-radius: 50%;
        overflow: hidden;

        img{
          height: 100%;
        }
      }
    }

    .chat-text{
      width: 70%;
      border-radius: 8px;
      background: lightgreen;
      padding: 10px;

      .message-date{
        margin-top: 10px;
        font-size: 12px;
        text-align: right;
      }

      .nickname{
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: bold;
      }
    }

    &.from-me{
      flex-direction: row-reverse;

      .chat-image{
        .img{
          background-color: red;
        }
      }

      .chat-text{
        background: lightblue;
      }
    }
  }
}
