page-signup {
  .photo-container{
    width: 100%;
    padding-bottom: 30px;

    .photo{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: green;
      margin: auto;

      img{
        height: 100%;
        margin: auto;
      }
    }
  }
}
