<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="photo-container" (click)="takePicture()">
    <div class="photo">
      <img *ngIf="image" [src]="image" alt="">
    </div>
  </div>

  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input #name type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nickname</ion-label>
      <ion-input #nickname type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input #username type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password type="password"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block
      (click)="signup(
                  name.value,
                  nickname.value,
                  username.value,
                  password.value
                )">
    Sign Up
  </button>
</ion-content>
